@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/test.css" />
<div class="section-2">
    <div class="cont-14">
        <div class="colwrapper-8">
            <div class="cont-15">
                <img src="@Url.Content("~/Content/images/banBS.png")" alt="" class="img-3">
            </div>
            <div class="cont-16">
                <div class="cont-17"><p class="para"><span class="font">Connecting Startups.</span></p></div>
            </div>
        </div>
    </div>
    <div class="cont-18">
        <div class="cont-19"><p class="para-2"><span class="font-2">Busicious connects thousands of startups with the perfect investors</span></p></div>
    </div>
    <div class="cont-20">
        <div class="colwrapper-9">
            <div class="cont-21">
                <img src="@Url.Content("~/Content/images/invest.png")" alt="" class="img-4">
                >
            </div>
            <div class="cont-22">
                <a class="button-9" href="@Url.Content("~/Accounts/DisplayAllInvestors")">Browse Investors</a>
            </div>
        </div>
        <div class="colwrapper-10">
            <div class="cont-23">
                <img src="@Url.Content("~/Content/images/startups.png")" alt="" class="img-5">
                >
            </div>
            <div class="cont-24">
                <a class="button-10" href="@Url.Content("~/Accounts/DisplayAllStarters")">Browse Startups</a>
            </div>
        </div>
    </div>
</div>